<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تعديل بيانات شخص</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="form-container">
        <h1>تعديل بيانات شخص وتهمة</h1>
        <form id="editPersonForm">
            <!-- Personal Information Section -->
            <div class="grid-container">
                <div class="grid-item name">
                    <label for="name">الاسم</label>
                    <input type="text" id="name" name="name" value="{{ person.name }}" required>
                    <div id="nameError" class="error"></div>
                </div>
                <div class="grid-item alias">
                    <label for="alias">الانتحال</label>
                    <input type="text" id="alias" name="alias" value="{{ person.alias }}">
                </div>
                <div class="grid-item reputation">
                    <label for="reputation">الشهرة</label>
                    <input type="text" id="reputation" name="reputation" value="{{ person.reputation }}">
                </div>
                <div class="grid-item age">
                    <label for="age">السن</label>
                    <input type="number" id="age" name="age" value="{{ person.age }}">
                    <div id="ageError" class="error"></div>
                </div>
                <div class="grid-item id_number">
                    <label for="id_number">الرقم القومي</label>
                    <input type="text" id="id_number" name="id_number" value="{{ person.id_number }}">
                    <div id="idError" class="error"></div>
                </div>
                <div class="grid-item residence">
                    <label for="residence">محل الإقامة</label>
                    <input type="text" id="residence" name="residence" value="{{ person.residence }}">
                </div>
                <div class="grid-item nationality">
                    <label for="nationality">الجنسية</label>
                    <input type="text" id="nationality" name="nationality" value="{{ person.nationality }}">
                </div>
                <div class="grid-item military_service">
                    <label for="military_service">الخدمة العسكرية:</label>
                    <select id="military_service" name="military_service">
                        <option value="" {% if not person.military_service %}selected{% endif %}> -- اختر الموقف من التجنيد --</option>
                        <option value="معافى" {% if person.military_service == "معافى" %}selected{% endif %}>معافى</option>
                        <option value="مجند" {% if person.military_service == "مجند" %}selected{% endif %}>مجند</option>
                        <option value="مؤجل" {% if person.military_service == "مؤجل" %}selected{% endif %}>مجند</option>
                        <option value="غير مطلوب" {% if person.military_service == "غير مطلوب" %}selected{% endif %}>غير مطلوب</option>
                        <option value="غير محدد" {% if person.military_service == "غير محدد" %}selected{% endif %}>غير محدد</option>
                    </select>
                </div>
                
                <div class="grid-item profession">
                    <label for="profession">المهنة</label>
                    <input type="text" id="profession" name="profession" value="{{ person.profession }}">
                </div>
                <div class="grid-item workplace">
                    <label for="workplace">مكان العمل</label>
                    <input type="text" id="workplace" name="workplace" value="{{ person.workplace }}">
                </div>
               
                <div class="grid-item entry_number">
                    <label for="entry_number">رقم الإدراج</label>
                    <input type="number" id="entry_number" name="entry_number" value="{{ person.entry_number }}">
                </div>
                <div class="grid-item mother-name">
                    <label for="mother_name">اسم الأم:</label>
                    <input type="text" id="mother_name" name="mother_name" value="{{ person.mother_name }}">
                </div>
                <div class="grid-item spouse-name" id="spouseNameField">
                    <label for="spouse_name">اسم الزوج/الزوجة:</label>
                    <input type="text" id="spouse_name" name="spouse_name" value="{{ person.spouse_name }}">
                </div>
                <div class="grid-item gender">
                    <label for="gender">النوع:</label>
                    <select id="gender" name="gender">
                        <option value="" {% if not person.gender %}selected{% endif %}> --اختر النوع --</option>
                        <option value="ذكر" {% if person.gender == "ذكر" %}selected{% endif %}>ذكر</option>
                        <option value="أنثى" {% if person.gender == "أنثى" %}selected{% endif %}>أنثى</option>
                    </select>
                </div>
                <div class="grid-item birth-date">
                    <label for="birth_date">تاريخ الميلاد:</label>
                    <input type="date" id="birth_date" name="birth_date" value="{{ person.birth_date }}">
                </div>
                <div class="grid-item marital-status">
                    <label for="marital_status">الحالة الاجتماعية:</label>
                    <select id="marital_status" name="marital_status" onchange="toggleSpouseName()">
                        <option value="" {% if not person.marital_status %}selected{% endif %}>-- اختر الحالة الاجتماعية --</option>

                        <option value="أعزب" {% if person.marital_status == "أعزب" %}selected{% endif %}>أعزب</option>
                        <option value="متزوج" {% if person.marital_status == "متزوج" %}selected{% endif %}>متزوج</option>
                        <option value="مطلق" {% if person.marital_status == "مطلق" %}selected{% endif %}>مطلق</option>
                        <option value="أرمل" {% if person.marital_status == "أرمل" %}selected{% endif %}>أرمل</option>
                    </select>
                </div>
            </div>

            <!-- Distinctive Marks Section -->
            <div>
                <h2>العلامات المميزة</h2>
                <div id="distinctiveMarksContainer">
                    <div class="special-sign">
                        
                        <div class="grid-item special-sign-item">
                            <label for="distinctive_marks">العلامة المميزة</label>
                        </div>
                        <div class="grid-item special-sign-item">
                            <label for="place_number">رقم مكانها</label>
                        </div>
                        {% for mark in person.distinctive_marks %}
                        <div class="grid-item special-sign-item">
                            <input type="text" id="distinctive_marks_{{ loop.index }}" name="distinctive_marks[]" value="{{ mark.distinctive_marks }}">
                        </div>

                        <div class="grid-item special-sign-item">

                            <input type="number" id="place_number_{{ loop.index }}" name="place_number[]" value="{{ mark.place_number }}">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="errorMessage">املأ الحقل السابق قبل اضافة حقل جديد</div>
                <button type="button" id="addSpecialSignButton">إضافة علامة جديدة</button>
            </div>

            <!-- Risk Section -->
            <div class="risk-container">
                <div class="grid-item">
                    <label for="risk_number">رقم الخطورة</label>
                    <input type="text" id="risk_number" name="risk_number" value="{{ person.risk_number }}">
                </div>
                <div class="grid-item">
                    <label for="activity">النشاط</label>
                    <input type="text" id="activity" name="activity" value="{{ person.activity }}">
                </div>
                <div class="grid-item">
                    <label for="category">الفئة</label>
                    <input type="text" id="category" name="category" value="{{ person.category }}">
                </div>
            </div>

            <!-- Charges Section -->
            <h2>التهم</h2>
            <div id="chargesContainer">
                <div class="grid-container-01">
                    <div class="grid-item-01">
                        <label for="charge_number">رقم القضية</label>
                    </div>
                    <div class="grid-item-01">
                        <label for="charge_year">سنة القضية</label>
                    </div>
                    <div class="grid-item-01">
                        <label for="tasneef">التصنيف </label>
                    </div>
                    <div class="grid-item-01">
                        <label for="police_station">قسم/مركز الشرطة</label>
                    </div>
                    <div class="grid-item-01">
                        <label for="crime_method">الجريمة والأسلوب</label>
                    </div>
                    <div class="grid-item-01">
                        <label for="crime_method">الحكم</label>
                    </div>
                    {% for charge in person.charges %}
                    <div class="grid-item-01">
                        <input type="number" id="charge_number_{{ loop.index }}" name="charge_number[]" value="{{ charge.charge_number }}">
                    </div>
                    <div class="grid-item-01">
                        <input type="number" id="charge_year_{{ loop.index }}" name="charge_year[]" value="{{ charge.charge_year }}">
                    </div>
                    <div class="grid-item-01">
                        <select id="case_type_{{ loop.index }}" name="case_type[]">
                            <option value="" {% if not person.case_type %}selected{% endif %}> نوع القضية</option>
                            <option value="جنح" {% if charge.case_type == 'جنح' %} selected {% endif %}>جنح</option>
                            <option value="اداري" {% if charge.case_type == 'اداري' %} selected {% endif %}>إداري</option>
                            <option value="جنايات" {% if charge.case_type == 'جنايات' %} selected {% endif %}>جنايات</option>
                        </select>
                    </div>
                    <div class="grid-item-01">
                        <input type="text" id="police_station_{{ loop.index }}" name="police_station[]" value="{{ charge.police_station }}">
                    </div>
                    <div class="grid-item-01">
                        <input class="crime_method" id="crime_method_{{ loop.index }}" name="crime_method[]" oninput="autoResize(this)" value="{{charge.crime_method }}">
                    </div>
                    <div class="grid-item-01">
                        <input class="judgement" id="judgement_{{ loop.index }}" name="judgement[]" oninput="autoResize(this)" value="{{ 
                             charge.judgement }}">
                    </div>
                {% endfor %}
                
                </div>
            </div>
            <div id="crimeErrorMessage">املأ الحقل السابق قبل اضافة حقل جديد</div>
            <div id="yearErrorMessage">  تأكد من صحة البيانات</div>

            <button type="button" id="addCrimeButton">إضافة قضية جديدة</button>

            <!-- Submit Section -->
            <button type="submit">تعديل البيانات</button>
            <h3 id="responseMessage"></h3>
            <button onclick="location.href='/profile/{{ person.id }}'" class="back-button">رجوع</button>
        </form>
    </div>
     <!-- Send person_id to JavaScript -->
     <script type="text/javascript">
       const personId = "{{ person.id }}";
    </script>
    <script src="/static/js/script.js"></script>
</body>
</html>
