<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>بحث عن شخص</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="search">
    <div class="search-container">
    <h1 class="search-grid-iteem">البحث عن شخص</h1>
    <form id="searchForm">
        <!-- <label for="searchInput">البحث حسب الاسم أو الرقم القومي</label> -->
        <input class="search-grid-iteem" type="text" id="searchInput" name="searchInput" placeholder="ادخل الاسم أو رقم القضية">
        <button class="search-grid-iteem" type="submit">بحث</button>
    </form>

    <div class="search-grid-iteem" id="results" class="search-results">
    </div>
        <!-- نتائج البحث ستظهر هنا -->
    </div>
    <div>
        <button onclick="window.location.href='/dashboard'" class="back-search-button">رجوع</button>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('#searchForm').on('submit', function(event) {
            event.preventDefault();

            const searchInput = $('#searchInput').val();

          
            $.ajax({
                type: 'POST',
                url: '/search_person',
                data: { 
                    searchInput: searchInput,
                },
                success: function(response) {
                    $('#results').empty();
                    if (response.length > 0) {
                        response.forEach(function(person) {
                            $('#results').append('<p><a href="/profile/' + person.id + '">' + person.name + '</a></p>');
                        });
                    } else {
                        // عرض رسالة "لم يتم العثور على نتائج"
                        $('#results').append('<p>لم يتم العثور على نتائج.</p>');
                    }
                },
                error: function(error) {
                    console.log('Error:', error);
                    $('#results').append('<p>حدث خطأ أثناء البحث.</p>');
                }
            });
        });
    </script>
    <script src="/static/js/script.js"></script>
</body>
</html>
